{% extends "index.html" %} {% load static cogitomedica_i18n %} {% block content %} 
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
  {% if form.errors.items|length == 1 %}{% db_trans "other.auth.correct_error_below" "Please correct the error below." %}
  {% else %}{% db_trans "other.auth.correct_errors_below" "Please correct the errors below." %}{% endif %}
</p>
{% endif %} 
{% if form.non_field_errors %} {% for error in form.non_field_errors %}
<p class="errornote">{{ error }}</p>
{% endfor %} 
{% endif %}

<div id="content-main">
  {% if user.is_authenticated %}
  <p class="errornote">
    {% db_transf "other.auth.already_authenticated_other_account" "You are authenticated as {username}, but are not authorized to access this page. Would you like to login to a different account?" username=username %}
  </p>
  {% endif %}
  <form
    class="form-signin"
    action="{% url 'accounts:login' %}"
    method="post"
    id="login-form"
  >
    {% csrf_token %}
    <div class="form-row">
      <label for="{{ form.username.id_for_label }}">{% db_trans "other.auth.phone_number_label" "Phone number" %}</label>
    </div>
    <div class="form-row">{{ form.username.errors }}</div>
    <div class="form-row">{{ form.username }}</div>
    <div class="form-row"><label for="id_password">{% db_trans "other.auth.access_code_label" "Access code" %}</label></div>
    <div class="form-row">{{ form.password.errors }}</div>
    <div class="form-row">{{ form.password }}</div>
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="submit-row">
      <label>&nbsp;</label>
      <input
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        value="{% db_trans 'other.auth.sign_in' 'Sign in' %}"
      />
    </div>
    <div class="form-row">
      <p style="text-align: center">
        {% db_trans "other.auth.login_help_text" "Use your pickup code and your phone number without leading zero and without country code (e.g. 123 456 78 90)." %}
      </p>
    </div>
  </form>
</div>
{% endblock %}
