{% load i18n safe_urls %}

{% if site_url %}
    <a href="{{ site_url|safe_href }}" target="_blank" rel="noopener noreferrer" class="mx-1 px-3 py-2 rounded-default hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200">
        {{ admin_menu_view_site|default:"View site" }}
    </a>
{% endif %}

{% if account_links %}
    {% for link in account_links %}
        <a href="{{ link.link|safe_href }}" class="mx-1 px-3 py-2 rounded-default hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200">
            {{ link.title }}
        </a>
    {% endfor %}
{% else %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}" class="mx-1 px-3 py-2 rounded-default hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200">
            {{ admin_menu_change_password|default:"Change password" }}
        </a>
    {% endif %}
{% endif %}

<div class="border-t border-base-200 mt-1 pt-1 dark:border-base-700">
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}" class="mx-1">
        {% csrf_token %}

        <button type="submit" class="bg-none flex cursor-pointer items-center px-3 py-1.5 text-left text-red-700 rounded-default w-full hover:bg-red-100 dark:hover:bg-red-500/20 dark:text-red-400 dark:hover:text-red-400">
            {{ admin_menu_logout|default:"Log out" }} <span class="ml-auto material-symbols-outlined text-red-700 dark:text-red-400">logout</span>
        </button>
    </form>
</div>
