{% extends 'unfold/layouts/unauthenticated.html' %}

{% load static unfold cogitomedica_i18n %}

{% block extrastyle %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block title %}
    {{ title }} | {{ site_title }}
{% endblock %}

{% block content %}
    {% admin_trans "administration.site_admin_title" "Django site admin" as site_admin_title_text %}
    {% admin_trans "administration.login_welcome_back" "Welcome back to" as login_welcome_text %}
    {% include "unfold/helpers/unauthenticated_title.html" with title=site_title|default:site_admin_title_text subtitle=admin_login_welcome|default:login_welcome_text %}

    <p class="text-right text-sm text-base-500 dark:text-base-400 mb-6">
      <a href="?language=de" class="text-primary-600 hover:text-primary-700 dark:text-primary-400">DE</a> |
      <a href="?language=en" class="text-primary-600 hover:text-primary-700 dark:text-primary-400">EN</a> |
      <a href="?language=pl" class="text-primary-600 hover:text-primary-700 dark:text-primary-400">PL</a>
    </p>

    {% include "unfold/helpers/messages.html" %}

    {% if form.errors or form.non_field_errors %}
        <div class="flex flex-col gap-4 mb-8 *:mb-0">
            {% include "unfold/helpers/messages/errornote.html" with errors=form.errors %}

            {% include "unfold/helpers/messages/error.html" with errors=form.non_field_errors %}

            {% if user.is_authenticated %}
                {% db_transf "administration.login_authenticated_but_unauthorized" "You are authenticated as {username}, but are not authorized to access this page. Would you like to login to a different account?" username=username as message %}

                {% include "unfold/helpers/messages/error.html" with error=message %}
            {% endif %}
        </div>
    {% endif %}

    {% block login_before %}{% endblock %}

    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}

        {% include "unfold/helpers/field.html" with field=form.username %}

        {% include "unfold/helpers/field.html" with field=form.password %}

        <div class="flex flex-col gap-3 mt-6">
            {% component "unfold/components/button.html" with submit=1 variant="primary" class="submit-row w-full" %}
                {% admin_trans "administration.login_btn" "Log in" as login_btn_text %}
                {{ admin_login_btn|default:login_btn_text }} <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
            {% endcomponent %}

            {% url 'admin_password_reset' as password_reset_url %}
            {% url 'admin:admin_password_reset' as unfold_password_reset_url %}

            {% if password_reset_url or unfold_password_reset_url %}
                {% component "unfold/components/button.html" with href=password_reset_url|default:unfold_password_reset_url variant="secondary" class="password-reset-link w-full" %}
                    {% admin_trans "administration.login_forgot_password" "Forgotten your password or username?" as forgot_text %}
                    {{ admin_login_forgot_password|default:forgot_text }}
                {% endcomponent %}
            {% endif %}
        </div>
    </form>

    {% block login_after %}{% endblock %}
{% endblock %}
