{% extends "tablet/base.html" %}
{% block title %}{{ staff_ui.queue_entries_title }}{% endblock %}
{% block content %}
  <p class="back"><a class="btn secondary" href="{% url 'tablet:home' %}">{{ staff_ui.back_to_queues }}</a></p>
  <h1>{{ queue.clinic_site.name }} – {{ queue.consulting_room.name }}</h1>
  <p>{{ staff_ui.date }} {{ queue.queue_date }}</p>
  {% if entries %}
    <ul>
      {% for e in entries %}
        <li>
          <a class="btn" href="{% url 'tablet:entry_start' e.id %}">
            {{ e.position_no }}. {{ e.patient.last_name }} {{ e.patient.first_name }} {% include "tablet/includes/process_type_badge.html" with process_type=e.process_type %}{% if e.appointment_time %} – {{ e.appointment_time|time:"H:i" }}{% endif %} ({{ e.get_entry_status_display }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ staff_ui.no_patients }}</p>
  {% endif %}
{% endblock %}
